html {
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
}
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main {
  min-height: 70vh;
}
* {
  font-family: "Amazon Ember", Arial, sans-serif;
}
h1,
h2,
h3,
h4 {
  font-weight: 700 !important;
}

a.a-link {
  color: #014e57 !important;
}
a.a-link:hover {
  color: #c26a05 !important;
}
strong,
tbody td {
  color: #014e57 !important;
}
.text-large {
  font-weight: 300 !important;
  font-size: 2rem !important;
}

.site-container {
  min-height: 100vh;
}

main {
  flex: 1; /* occupy space between header-footer*/
}

nav.bg-dark {
  background-color: #002235 !important;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  min-height: 70px;
}
nav .nav-link {
  color: #bababa !important;
}
nav .nav-link:hover,
nav .navbar-brand {
  color: #fff !important;
  transition: 0.2s;
}

/* searchBox */
.validation-msg {
  color: rgb(254, 19, 19);
  position: absolute;
  top: 35px;
  left: 2rem;
  font-size: 14px;
}

/* product page */
.product-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
img {
  height: 100%;
  max-height: 250px;
  display: inline;
}
.img-container {
  overflow-x: hidden;
  text-align: center;
}
span.product-price > span:first-child {
  position: relative;
  top: -0.7rem;
}
.btn-primary {
  background-color: #f0c040 !important;
  color: black !important;
  border: none !important;
}
.btn-primary:hover {
  background-color: #d7a10b !important;
  color: black !important;
  border: none !important;
  transition: 0.2s;
}
.btn-secondary {
  padding: 7px 15px !important;
  background-color: #08485f !important;
  color: rgb(255, 255, 255) !important;
  border: none !important;
}
.btn-secondary:hover {
  background-color: #548595 !important;
  color: rgb(237, 237, 237) !important;
  border: none !important;
  transition: 0.2s;
}
.btn-close {
  padding: 3px !important;
  border-radius: 0 !important;
}
.btn-close:hover {
  background-color: #ffffff !important;
  opacity: 0.3 !important;
}
.btn-clear {
  background: none !important;
  padding: 0 !important;
  margin-left: 1ch;
  color: #797979 !important;
  border: none !important;
}
.btn-clear > i {
  height: 1rem;
}
.btn-clear:hover {
  color: #c26a05 !important;
}
.rating > span > i {
  color: #f1962e;
}
.rating > .num-reviews {
  color: #007185;
  font-size: 0.8rem;
}
.img-large {
  max-width: 100%;
  max-height: 80vh;
  padding: 10px;
}
.img-thumbnail {
  max-height: 150px !important;
  border: none !important;
  padding: 0;
}
.thumbnail-container {
  text-align: center;
  /* width: 100px; */
  /* border: 1px solid silver; */
}
@media (max-width: 1023.5px) {
  .img-thumbnail {
    max-height: 100px !important;
  }
}
.product-sort {
  border-radius: 5px;
  padding: 2px 5px;
  border: 1px solid #d6d6d6;
}

.small-container {
  max-width: 600px !important;
}

.checkout-steps > div.active {
  border-bottom: 0.2rem solid #ec8a1a;
  color: #ec8a1a;
}
.checkout-steps > div {
  border-bottom: 0.2rem solid #c0c0c066;
  color: #c5c5c5;
}

td {
  word-wrap: break-word;
}
/* sidebar */
.navbar-brand {
  font-weight: bold;
}
.side-navbar {
  width: 240px;
  height: 100%;
  position: absolute;
  left: -300px;
  background-color: #100901;
  transition: 0.5s;
}
.active-cont {
  margin-left: 240px;
}
.active-nav {
  left: 0;
}
.text-bold {
  font-weight: bold;
}
ul.filter {
  padding: 0;
}
ul.filter li {
  list-style: none;
}
ul.filter li a {
  text-decoration: none;
  color: #007185;
}
ul.filter li a:hover,
.product-name:hover {
  text-decoration: underline;
  color: #c26a05;
  transition: 0.2s;
}
.product-name {
  text-decoration: none;
  color: #000000;
}

/* HERO */
.hero {
  height: 90vh;
  text-align: center;
  /* background-color: rgb(255 181 96); */
  background-repeat: no-repeat;
  background-size: cover;
  /* background-image: linear-gradient(
      rgba(142, 204, 249, 0.1),
      rgba(0, 0, 0, 0.45)
    ),
    url("../public/images/41901902.jpg"); */
  background-image: linear-gradient(
      rgba(142, 204, 249, 0.2),
      rgba(0, 0, 0, 0.2)
    ),
    url("https://cdn.pixabay.com/photo/2018/03/12/22/15/fashion-3221102_1280.jpg");
  background-position: 20% 0%;
}
.hero > .center {
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
  text-align: start;
}
#layer {
  height: 60vh;
  width: 100%;
  position: absolute;
  top: 70px;
  left: 0;
  background: #000000;
  z-index: -1;
}

/* ORDERPAGE */
.paypal-container > div {
  min-width: 0 !important;
}

/* FOOTER */
footer {
  background: #002235;
  color: #ffffff;
  font-size: 14px;
}
footer .col {
  color: #bcbcbc;
}
footer .col > div:first-child {
  color: #ffffff;
}
footer .col:hover {
  text-decoration: underline;
  transition: 0.2s;
}

/* BANNER */
.banner {
  background-image: linear-gradient(rgba(0, 33, 57, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://img.freepik.com/premium-photo/empty-shopping-cart-yellow-blue-background_70287-2038.jpg?w=2000");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0% 50%;
  color: #fff;
}

/* large */
@media (max-width: 1023.5px) {
  * {
    font-size: 0.9rem;
  }
}
/* medium */
@media (max-width: 767.5px) {
  * {
    font-size: 0.8rem;
  }
  .home-container {
    flex-direction: column-reverse;
  }
  .filter-container {
    display: flex;
    justify-content: space-between;
  }
}
